.view
{
    width: 100%;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.viewcontainer
{
    /* background-color: rgb(225 227 229 / 77%); */
    width:90%;
    height:80vh;
    display:flex;
    justify-content: space-between;
    align-items:center;
    box-shadow:  0 3px 6px rgba(5, 5, 5, 0.2);
}

.img-view
{
    width:50%;
    height:100%;
    display: flex;
    justify-content: center;
    align-items: center;
   

}
.img-view img
{
    max-width: 95%;
    max-height: 95%;
}
.info-view
{
    width:50%;
}
.info-view h1
{
    text-align: center;
    margin-top: -100px;
    transform: scale(1.7);
    
}
.info-view p
{
    text-align: center;
    margin-top:100px;
}

.datediv
{
    margin-left:300px;
    margin-top:100px;
    font-weight: bold;
}
.datetitle,.date
{
    font-size:20px;

    
}
.bookinfo
{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 100px;
}
.book, .unbook
{
    padding: 15px 15px;
    background-color: orange;
    color: white;
    cursor: pointer;
    border: none;
    border-radius: 3px;
}
.book:hover, .unbook:hover{
    background-color: rgb(247, 138, 12);
}


.price
{
    font-size: 25px;

}