
.inspiration
{
   background-color:  rgb(41 44 49);
    width:100%;
    height:500px;
    color: rgb(247, 138, 12);
    display: flex;
    justify-content: center;
    align-items: center;
   
}
.inspiration h1
{
    text-align: center;
    font-size: 4rem;
}


.package-options
{
    width:100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.package-option
{
    margin-top: 15px;
    width: 25%;
    height:200px;
    background-color: rgb(225 227 229 / 77%);
    color:black;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.3s ease;   
}
.package-option h2
{
    text-align: center;
}
.priceplandiv
{
    margin-top: 30px;
    text-align: center;
    margin-bottom: 50px;
    transform: scale(1.5);
}
.priceplan
{
    font-size: 25px;
    font-weight:bold;
}
.package-start
{ 
    background:rgb(41 44 49);
    color: rgb(255, 255, 255);
    padding:10px 10px;
    text-align: center;
    margin-left: 135px;
    border:none;
    cursor: pointer;
    border-radius: 3px;
}
.package-start:hover, .package-start a:hover{
    background:rgb(0, 0, 0);
}


.package-start a
{
    text-decoration: none;
    color:rgb(255, 255, 255);
}

.packagecontainer
{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    column-gap: 5px;
    row-gap: 5px;
    flex-wrap: wrap;
    margin-top: 100px;
    margin-bottom: 30px;
}
.package
{
    width: 20%;
    height: 300px;
    background-color: rgb(225 227 229 / 77%);
    color:black;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}
.package img
{
    width: 100%;
    height:180px;
}
.packageinfo
{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.detail
{
    background:rgb(41 44 49);
    color: white;
    padding:10px 10px;
    margin-left: 110px;
    border:none;
    cursor: pointer;
    border-radius: 3px;
}

.detail:hover{
    background:rgb(0, 0, 0);
}
.detail a
{
    text-decoration: none;
    color:white;
}


.tour-price-div
{

   
}
.tour-price
{
    font-size: 20px;
    font-weight:bold;
}
.nopackage
{
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}
.nopackagefound h1
{
    text-align: center;
}
.nopackagefound p
{
    text-align: center;
}